
.bevan-regular {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Bevan", serif;
    text-align: center;
    padding: 20px;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; 
    background-color: #1e1e1e; 
    transition: background-color 1s ease; 
    }
    
    .container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px; /* 최대 너비 설정 */
    height: 60vh;

    }
    
    h1 {
    color: #010101;
    font-size: 2rem; /* 반응형 폰트 크기 */
    margin-bottom: 1.5rem; /* 간격 조정 */
    }
    
    p {
    color: #666666;
    font-size: 1rem; /* 반응형 폰트 크기 */
    line-height: 1.6;
    margin-bottom: 1rem; /* 간격 조정 */
    }
    
    #attempts {
    font-weight: bold;
    color: #ffcc5c;
    font-size: 1.5rem; /* 반응형 폰트 크기 */
    }
    
    #guessForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem; /* 간격 조정 */
    }
    
    #userGuess {
    padding: 0.75rem; /* 패딩 조정 */
    font-size: 1rem; /* 반응형 폰트 크기 */
    border: 2px solid #010101;
    border-radius: 20px;
    width: 60%; /* 너비를 퍼센트로 설정 */
    max-width: 200px; /* 최대 너비 설정 */
    text-align: center;
    outline: none;
    }

    
    
    #submitBtn {
    padding: 0.75rem 1.25rem; /* 패딩 조정 */
    font-size: 1rem; /* 반응형 폰트 크기 */
    background-color: #010101;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
    
    #submitBtn:hover {
    background-color: #ffcc5c;
    }

    #resetBtn {
        padding: 0.75rem 1.25rem; /* 패딩 조정 */
        font-size: 1rem; /* 반응형 폰트 크기 */
        background-color: #e42828;
        color: #fdfbfb;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        }
        
        #resetBtn:hover {
        background-color: #8a0303;
        }
    
    #result {
    font-size: 1.5rem; /* 반응형 폰트 크기 */
    margin-top: 1rem; /* 간격 조정 */
    color: #333333;
    font-weight: bold;
    }

